/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
======================================== */


/* universel styles */

html, body {
  padding: 0;
  height: 100%;
  margin: 0 auto ;
  width: 100%;
}

/*
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



/* header */

header {
  background-color: #f3eee8;
  width: 100%;
  text-align: center;
  margin-top:0;  
}


main {
  padding: 20px 15px;
  margin-bottom: 60px;
  text-align: center;  
}


h1 {
  background-color: rgb(244, 235, 230) ;
  font-family:'Montserrat Alternates', sans-serif;
  text-align: center;
  letter-spacing: 12px;
  font-size: 45px;
  color: #665d56;
  padding: 20px 0;
  margin:10px 30px; 
}


h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
    color: rgb(95, 89, 89);
    line-height: 70px;
    margin-top: 0;
}



h3 {
  background-color: #f3eee8;
  font-family:'Montserrat Alternates', sans-serif;
  font-size: 25px;
  color: rgb(116,108,105);
  text-align: left;
}

h5 {
  font-family:'Plus Jakarta Sans', sans-serif;
  font-size: 11px;
  color: rgb(116,108,105);
  margin-top: 10px;
  font-weight: bold;
  text-align: center;  
}

p {
    font-family:'Open Sans', sans-serif;
    color: rgba(78, 70, 67, 0.925);
    font-size: 18px;
    text-align: left;
    
      
}



/* nav */

nav {
  margin: 0;
  padding: 20px auto;
}


nav li {
  font-family:'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 15px 25px;
  list-style-type:none;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

nav li a{
  text-decoration: none;
  color: rgb(116, 107, 107); 
}




/* item 1 */


.resume {
  margin: 40px 250px 20px 150px;
  text-align: left;
  height: 400px;
}

.deco1{
  background-color: #f3eee8;
  float: left;
  width: 200px;
  height: 350px;
  position: absolute;
  margin: 20px 30px 5px 20px;  
}

.titre1{
  position: relative;
  top: 50px;
  left: 60px;
  margin: 50px 80px 5px 50px;

}

.text1 {
  float: right;
  position: absolute;
  left: 390px;
  margin: 30px 200px 5px 40px;
  
}


/* item 2 */

.chronologie h2,
.parcours h2 {
  background-color: #f3eee8;  
  margin: 50px 100px 5px 100px;
}


.box {
  position: relative;
  display: inline-flex;
  justify-content: space-evenly;
  width: 90%;
  margin-bottom: 30px;

}

.box1{
  position: relative;

  padding: 20px 20px 20px 20px;
}

.box1 img{
  height: 120px;
  position: relative;
}

.box1 p{
  position: absolute;
  z-index: 2;
  text-align: center;
}

.box2{
  position: relative;

 
}


/* item 3 */

.container {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
  height: 1800px;
  margin-bottom: 100px;


}

.box-left{
  float: left;
  position: absolute;
  margin: 0 30px 5px 110px;  

}

.box-left img{
  height: 120px;
}

.box-right {
  float: right;
  position: absolute;
  left: 300px;
  margin: 0 50px 5px 5px;

}

.titre2 {
  position: relative;
  font-weight: bold;
  margin: 50px 50px 5px 10px;
  z-index: 2;
  text-align: left;
}

.titre2 h2{
  background-color: #fff;
  font-size: 22px;
}

.ligne1 {
  height: 90%;
  position: relative;
}

.box-right a {
  text-decoration: none;
  font-family:'Nanum Gothic', sans-serif;
  color: rgba(78, 70, 67, 0.925);
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(209, 231, 80, 0.781);
}







a:hover{
  color:rgb(233, 23, 23);
  font-weight: bold; 
}

