/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
======================================== */


/* universel styles */

html, body {
  padding: 0;
  height: 100%;
  margin: 0 auto ;
  width: 100%;
}

/*
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');



/* header */

header {
  background-color: #f3eee8;
  width: 100%;
  text-align: center;
  margin-top:0;  
}


main {
  padding: 20px 15px;
  margin-bottom: 60px;
  text-align: center;  
}

h1 {
  background-color: rgb(244, 235, 230) ;
  font-family:'Montserrat Alternates', sans-serif;
  text-align: center;
  letter-spacing: 12px;
  font-size: 45px;
  color: #665d56;
  padding: 20px 0;
  margin:10px 30px; 
}


h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
    color: rgb(95, 89, 89);
    line-height: 70px;
    margin-top: 0;
}



h3 {
  background-color: #f3eee8;
  font-family:'Montserrat Alternates', sans-serif;
  font-size: 25px;
  color: rgb(116,108,105);
  text-align: left;
  margin-top: 50px;
}

h4 {
    font-family:'Montserrat Alternates', sans-serif;
    font-size: 21px;
    color: rgb(116,108,105);
    text-align: left;
  }

h5 {
  font-family:'Raleway', sans-serif;
  font-size: 18px;
  color: rgb(116,108,105);
  margin-top: 13px;
  margin-bottom: 0;
  text-align: left;
}

h6 {
    font-family:'Open Sans', sans-serif;
    font-size: 19px;
    color: rgb(116,108,105);
    text-align: left;    
    margin:0;

}

p {
    font-family:'Open Sans', sans-serif;
    color: rgba(78, 70, 67, 0.925);
    font-size: 18px;
    text-align: left; 
    margin-bottom: 18px;
}

a{
    font-family:'Open Sans', sans-serif;
    text-align: left; 

}


/* nav */

nav {
  margin: 0;
  padding: 20px auto;
}


nav li {
  font-family:'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 15px 25px;
  list-style-type:none;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

nav li a{
  text-decoration: none;
  color: rgb(116, 107, 107); 
}




/* item 1 */


.resume {
  margin: 40px 250px 20px 150px;
  text-align: left;
  height: 400px;
}

.deco1{
  background-color: #f3eee8;
  float: left;
  width: 200px;
  height: 350px;
  position: absolute;
  margin: 20px 30px 5px 20px;  
}

.titre1{
  position: relative;
  top: 40px;
  left: 60px;
  margin: 50px 80px 5px 50px;

}

.text1 {
  float: right;
  position: absolute;
  left: 390px;
  margin: 10px 200px 5px 40px;
  
}

/* item 2 */

.chronologie h2,
.parcours h2,
.documents h2{
  background-color: #f3eee8;  
  margin: 50px 100px 5px 100px;
}


.box {
  position: relative;
  display: inline-flex;
  justify-content: space-evenly;
  width: 90%;
  height: 220px;
  margin-bottom: 30px;
  

}

.box1{
  position: relative;
  padding: 20px 20px 20px 20px;
  
}

.box1 img{
  height: 120px;
  position: relative;
}

.box1 p{
  position: absolute;
  z-index: 2;
  text-align: center;
}

.box2{
  position: relative;
}


/* item 3 

container    
height: 1800px;
*/

.container {
  display: block;
  height: 15000px;
  margin-bottom: 100px;

}

.box-left{
  float: left;
  position: absolute;
  margin: 0 30px 5px 110px;  
}

.box-left img{
  height: 120px;
}

.box-right {
  float: right;
  position: absolute;
  left: 300px;
  margin: 0 50px 5px 5px; 
  padding-left: 15px;
}

.titre2 {
  position: relative;
  font-weight: bold;
  margin: 50px 50px 5px 10px;
  z-index: 2;
  text-align: left;
}

.titre2 h2{
  background-color: #fff;
  font-size: 22px;
}

.ligne1 {
  position: relative;
  height: 900px;
  display: block;
  
}

.ligne2{
  height: 2000px;
}

.ligne3{
  height: 9800px;

}

.box-right a {
  text-decoration: none;
  font-family:'Open Sans', sans-serif;
  color:#ffae00;
  font-size: 18px;
  font-weight: bold;
  float: left;
}

a:hover{
  color: rgba(78, 70, 67, 0.925);
}

.hospi{
  color: #d69773;
}


/*item 4 */

.documents{
  z-index: 5;
  position: relative;
}

.documents img{
  height: 300px;
  margin: 10px 10px 10px 10px;
}

.documents img:hover{
  height: 1000px;

}

.grid1{
  display: flex;
  justify-content: space-evenly;
}


.containers4{
  margin: 5px 100px 5px 100px;
}

.documents h4{
  margin: 10px 100px 10px 100px;
}

.doc1{
  background-color: #e2d3cd;
}

.doc2{
  background-color: #e3dad5;
}

.doc3{
  background-color: #e6cdb5;
}

.doc4{
  background-color: #f7d8b5;
}

.doc5{
  background-color:#d0c8b6;
}

.doc6{
  background-color: #d5d7cc;
}

.doc7{
  background-color: #f6d5b6;
}

.doc8{
  background-color: #e9ae8c;
}

.doc9{
  background-color: #ff9376;
}


.doc10{
  background-color:#8daaa6;
}

#jour2{
  display: none;
}




/*---- details ---- */

.details{
  margin: 50px 100px 5px 100px;
}

.details h2 {
  background-color: #f3eee8; 

  }

.articlex2{
  display:grid;
  grid-template: 1fr / 1fr 1fr;
}

.article1,
.article2{
  margin: 10px 10px 10px 10px;
}